certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
coverage==7.6.1
coveralls==1.1
docopt==0.6.2
exceptiongroup==1.2.2
idna==3.10
iniconfig==2.1.0
jpype1==1.5.2
konlp==0.0.58
konlpy==0.6.0
lxml==5.3.1
numpy==2.2.4
packaging==24.2
pluggy==1.5.0
pytest==8.3.5
pytest-cov==2.4.0
requests==2.32.3
six==1.17.0
tomli==2.2.1
urllib3==2.2.3
